<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ติดต่อ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-icon name="call-outline"></ion-icon> 091-717-3888 <br>
  <ion-icon name="mail-open-outline"></ion-icon> sulalitakunin<ion-icon name="at-outline"></ion-icon>gmail.com <br>
  <ion-icon name="logo-facebook"></ion-icon> FA R IA <br>
  <ion-icon name="logo-instagram"></ion-icon> a.tilalus <br>
  <ion-icon name="logo-tiktok"></ion-icon> ฟาฟ่าฟ้าฟ๊าฟ๋า <br>

</ion-content>
